<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration SYSTEM "simple-generator-config.dtd">

<generatorConfiguration>
    <classPathEntry location="E:\generate\mysql-connector-java-5.1.34.jar"/>
    <context id="mybatis">
        <!-- 数据库链接信息 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://10.200.180.56:3306/carfree_account?characterEncoding=utf8"
                        userId="carfree_dev" password="carfree_dev123">
        </jdbcConnection>
        <!-- model 数据模型 -->
        <javaModelGenerator targetPackage="dataobject" targetProject="E:\generator\account\src\">
            <domainObjectRenamingRule searchString="t_" replaceString="" suffix="DO"/>
        </javaModelGenerator>
        <!-- sqlMapper -->
        <sqlMapGenerator targetPackage="com.chm.mybatis.sqlMapper" targetProject="E:\generator\account\src">
            <domainObjectRenamingRule searchString="t_" replaceString="" suffix="Mapper"/>
        </sqlMapGenerator>
        <!-- javaMapper-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.chm.mybatis.mapper" targetProject="E:\generator\account\src">
            <domainObjectRenamingRule searchString="t_" replaceString="" suffix="Mapper"/>
        </javaClientGenerator>
        <table tableName="acou%">
        </table>
    </context>
</generatorConfiguration>

